.Videos-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Videos-Header{
  padding-left: 5px;
  font-size: 50px;
  font-family: 'Titillium Web', sans-serif;
  border-left: 3px solid #D5DD5A;


}

.Videos-Links iframe {
    width: 1100px;
    height: 615px;

  }
  
  @media (max-width: 768px) {
    .Videos-Links iframe {
      width: 400px; 
      height: 300px;
    }
  }